#!/usr/bin/env xdg-open
[Desktop Entry]
Name=theVirtualThings
Comment=Launches theVirtualThings graphical interface
Exec=python3 /usr/bin/theVirtualThings/UI/theVirtualThingsMainPage.py
Icon=/usr/bin/theVirtualThings/logo.png
Terminal=false
Type=Application
Categories=Development;
